<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>Título de nuestra página</h1>
    <h2>ítulo de nuestra página</h2>
    <h3>ítulo de nuestra página</h3>
    <h4>ítulo de nuestra página</h4>
    <h5>ítulo de nuestra página</h5>
    <h6>ítulo de nuestra página</h6>
    <header>
      <div>
        <img src="panda.jpg" width ="70" alt="logotipo">
      </div>
      <nav>
        <ul>
          <li><a href="">Inicio</a></li>
          <li><a href="">Categoría1</a></li>
          <li><a href="">Categoría2</a></li>
        </ul>
      </nav>
    </header>
    <section class="wrapper">
      <section class="main">
        <article class="">
          <h2>Cha Michael Murray</h2>
          <p>Chad Michael Murray (Buffalo, Nueva York, el 24 de agosto de 1981)
            es un actor estadounidense, exmodelo y gran comunicador. Murray es más
            conocido por el personaje Lucas Scott de la serie de drama juvenil de The CW,
            One Tree Hill, además de los comercialmente exitosos films A Cinderella Story,
            Un Viernes de Locos y La Casa de Cera. Era muy popular entre los jóvenes y
            adolescentes,1​2​3​4​5​6​7​ ha posado para varias portadas de revistas, incluyendo
            Rolling Stone, People, Vanity Fair y Entertainment Weekly.</p>
        </article>
        <article class="">
          <h2>Título de nuestra página</h2>
          <p>Chad Michael Murray (Buffalo, Nueva York, el 24 de agosto de 1981)
            es un actor estadounidense, exmodelo y gran comunicador. Murray es más
            conocido por el personaje Lucas Scott de la serie de drama juvenil de The CW,
            One Tree Hill, además de los comercialmente exitosos films A Cinderella Story,
            Un Viernes de Locos y La Casa de Cera. Era muy popular entre los jóvenes y
            adolescentes,1​2​3​4​5​6​7​ ha posado para varias portadas de revistas, incluyendo
            Rolling Stone, People, Vanity Fair y Entertainment Weekly.</p>
        </article>
      </section>
      <aside>
        <h3>Sidebard</h3>
        <p>Murray asistió a Clarence High School, en Clarence, Nueva York.9​ Se convirtió
          en un fanático de la literatura, y estuvo muy involucrado en el football.6​ En
          su adolescencia, se rompió su nariz. Esto llevó a algunos a reporteros a decir
          que se habría realizado una rinoplastia. Murray aclaró en una entrevista en 2004,
          "Me subí en un Burger King cuando tenía 18 y tenía la nariz por el otro lado de mi cara.
          Eran tres chicos-- qué demonios iba a hacer yo? Los doctores ni siquiera se molestaron
          en hacerme rayos-X. Ellos solo restablecerían. Pero no fue una operación a la nariz --
          No me gusta el hecho de que la gente dice que me arreglé la nariz!</p>
      </aside>

    </section>
    <footer>
      <p>Copyright © 2008 Design Shack</p>
    </footer>
  </body>

</html>
